@model IEnumerable<CompanyProject.Data.Models.ShiftSwapRequest>
<h2>Shift Swap Requests</h2>
<table class="table">
<thead><tr><th>Source</th><th>Target</th><th>Status</th><th>Comment</th></tr></thead>
<tbody>
@foreach (var item in Model)
{
<tr>
<td>@item.SourceShift?.EmployeeId (@item.SourceShift?.StartAt.ToString("g"))</td>
<td>@item.TargetShift?.EmployeeId (@item.TargetShift?.StartAt.ToString("g"))</td>
<td>@item.Status</td>
<td>@item.Comment</td>
</tr>
}
</tbody>
</table>
